@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --primary-font-style: "Open Sans", sans-serif;
  --secondary-font-style: "Roboto", sans-serif;
  --primary-text-color: #fff;
  --secondary-text-color: #d73303;
  --third-text-color: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 900px;
}

.resume {
  margin: 50px auto;
  border: 1px solid #f5f5f5;
  box-shadow: 1px 1px 7px 7px #f5f5f5;
  padding: 30px 0;
  max-width: 900px;
}
